/* Style de base pour la navbar */
nav {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  background-color: #060d1351; /* Couleur de fond de la navbar */
  overflow: hidden; /* Pour gérer les éléments qui débordent de la navbar */
}

/* Reste de votre style CSS pour la navbar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  display: block;
  color: #ffffff;
  text-align: center;
  margin: 10px 8px;
  padding: 12px 15px;
  text-decoration: none;
  transition: color 0.3s;
}

nav a.active {
  background-color: #bd0e0e;
}

nav a:hover {
  color: #ed1c24;
}
/*Responcive*/
/* Media query pour la navbar responsive */
@media screen and (max-width: 1280px) {
  .nav-links {
    position: absolute;
    background-color: #333;
    height: 160vh;
    width: 100%;
    top: 80px;
    left: -100%;
    transition: 0.5s;
    z-index: 1;
  }

  .nav-links li {
    display: block;
    margin: 50px 0;
    line-height: 40px;
  }

  .nav-links li a {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  .menu-toggle {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 2;
  }

  .menu-hamburger {
    width: 35px;
    height: 35px;
  }

  .nav-links.mobile-menu {
    left: 0;
  }
}
/* Masquer le menu hamburger sur grand écran */
@media screen and (min-width: 872px) {
  .menu-hamburger {
    display: none;
  }
}
/* Style de base pour le footer */
#site-footer {
  background-color: #c2b7b7; /* Couleur de fond du footer */
  color: #fff; /* Couleur du texte dans le footer */
  padding: 20px;
}

/* Style pour les colonnes du footer */
.footer-column {
  margin-right: 20px;
}

/* Style pour les liens du footer */
.footer-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #c80909; /* Couleur du texte des liens */
  text-decoration: none; /* Pour enlever la décoration par défaut des liens */
  transition: color 0.3s; /* Animation de transition pour la couleur du texte */
}

/* Style pour les liens au survol de la souris */
.footer-column a:hover {
  color: #8113c2; /* Couleur du texte au survol de la souris */
}

/* Style pour la section des logos de paiement sécurisé */
.footer-column h4 {
  margin-top: 10px;
}

.footer-column ul img {
  margin-right: 10px;
}
/*PAGES TEST */
.head {
  background: url("../images/route.jpeg") no-repeat left center;
  background-size: 100% auto; /* Modifiez cette ligne */
  display: flex;
  align-items: center;
  color: white;
  width: 50%;
  margin: 0;
  padding: 0;
  height: 100px;
}

.image-text {
  flex: 1;
  padding: 0px;
  display: flex;
  align-items: center;
}

.image-text img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.image-text h1 {
  font-size: 24px;
  margin: 0;
}
.test {
  background: url("../images/autoroute1.jpg");
  background-size: 750px 283px; /* Dimensions spécifiques de l'image de fond */
  background-repeat: no-repeat;
  position: relative; /* Pour positionner les éléments à l'intérieur de la div */
  text-align: center; /* Pour centrer le texte et les boutons horizontalement */
  color: white; /* Couleur du texte, choisissez celle qui convient à votre image de fond */
  width: 750px; /* Définir la largeur à 750 pixels */
  height: 283px; /* Définir la hauteur à 283 pixels */
  margin: auto;
  text-align: center;
}

.testh2 {
  padding-top: 20px; /* Espacement par rapport au haut de la div */
}

/* Style des boutons */
.btn-rectangular {
  display: inline-block;
  margin: 20px 10px; /* Espacement entre les boutons */
  padding: 10px 20px; /* Marge interne des boutons */
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

/* Style des boutons au survol */
.btn-rectangular:hover {
  background-color: #0056b3;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  position: relative;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.prev {
  left: 0;
}

.next {
  right: 0;
}
.gratuit {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  width: 900px;
  left: 600px;
  background-color: red;
  margin: auto;
  text-align: center;
}
.apprenez {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  width: 600px;
  left: 300px;
  color: black;
  margin: auto;
  text-align: center;
}
/* Styles pour le conteneur de la diapositive et du texte à droite */
.content-right {
  display: flex;
  flex-direction: row-reverse; /* Pour aligner le contenu à droite */
  align-items: center;
}

/* Styles pour le conteneur qui centrera le contenu à droite */
.content-center-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Styles pour la diapositive */
.slideshow-container {
  flex: 1; /* Ajustez ceci pour contrôler la largeur de la diapositive */
  /* Vos autres styles ici */
}

/* Styles pour le contenu à droite de la diapositive */
/* Styles pour la classe "code" avec une position ajustée */
.code {
  position: absolute; /* Utilisation de la position absolue */
  top: 745px; /* Réglage de la distance depuis le haut */
  right: 260px; /* Réglage de la distance depuis la droite */
  width: 235px;
  height: 305px;
  background-color: #e9e9e9;
  border: 1px solid #cccccc;
  padding: 20px;
}

/* Styles pour le lien encadré en rouge */
.code a {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: white; /* Texte en jaune */
  text-decoration: none;
  border: 2px solid red;
}
/* Style pour la rangée */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
}

/* Style pour chaque colonne */
.col-lg-3 {
  flex-basis: calc(
    15% - -70px
  ); /* Largeur de chaque colonne (25% de la largeur de la rangée avec espacement) */
  background-color: #ffffff;
  margin-right: 20px; /* Espacement entre les colonnes */
  padding: 20px;
  text-align: center;
}

/* Style pour les images */
.col-lg-3 img {
  max-width: 100px;
  height: auto;
}

/* Style pour les paragraphes de texte */
.col-lg-3 p {
  margin-top: 10px;
  font-size: 16px;
}
.testh1 {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

/* Style pour le conteneur principal */
.col-lg-12 {
  background-color: #333333;
  padding: 20px;
  text-align: center; /* Centre le contenu horizontalement */
}

/* Style pour le titre */
.inverted {
  color: white;
}

.inverted-tertiary {
  color: #e9e9e9;
}
.colonel {
  color: white;
  font-size: 16px;
  text-align: justify;
}
/********************************************/
