/* Style de base pour la navbar */
nav {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  background-color: #060d1351; /* Couleur de fond de la navbar */
  overflow: hidden; /* Pour gérer les éléments qui débordent de la navbar */
}

/* Reste de votre style CSS pour la navbar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  display: block;
  color: #ffffff;
  text-align: center;
  margin: 10px 8px;
  padding: 12px 15px;
  text-decoration: none;
  transition: color 0.3s;
}

nav a.active {
  background-color: #bd0e0e;
}

nav a:hover {
  color: #ed1c24;
}

/* Style de base pour le footer */
#site-footer {
  background-color: #3392df51; /* Couleur de fond du footer */
  color: #fff; /* Couleur du texte dans le footer */
  padding: 20px;
}

/* Style pour les colonnes du footer */
.footer-column {
  margin-right: 20px;
}

/* Style pour les liens du footer */
.footer-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #d40e0e; /* Couleur du texte des liens */
  text-decoration: none; /* Pour enlever la décoration par défaut des liens */
  transition: color 0.3s; /* Animation de transition pour la couleur du texte */
}

/* Style pour les liens au survol de la souris */
.footer-column a:hover {
  color: #8113c2; /* Couleur du texte au survol de la souris */
}

/* Style pour la section des logos de paiement sécurisé */
.footer-column h4 {
  margin-top: 10px;
}

.footer-column ul img {
  margin-right: 10px;
}
